{% extends 'base.html.twig' %}

{% set title = 'Anexar Arquivo de ' ~ person.name %}
{% set drawer_active_route = 'person__index' %}

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        {% set title = 'Attach file of ' ~ person.name %}
    {% else %}
        {% set title = 'Anexar Arquivo de ' ~ person.name %}
    {% endif %}
{% endfor %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% include 'person/_tab-bar.html.twig' with { active_tab: 'person__file__index' } %}

    {% for translate in translates %}
        {% if translate.translate == 'BRL' %}
            <div class="container m-4">
                {{ form_start(form) }}
                {{ form_row(form.name, {
                    attr: {
                        autofocus: ''
                    }
                }) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Attach file', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="container m-4">
                {{ form_start(form) }}
                {{ form_row(form.name, {
                    attr: {
                        autofocus: ''
                    }
                }) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Anexar Arquivo', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

