{% extends 'base.html.twig' %}

{% set title = 'Arquivos de ' ~ person.name|default(person.cpf|format_cpf) %}
{% set drawer_active_route = 'person__index' %}

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        {% set title = 'Archives of ' ~ person.name|default(person.cpf|format_cpf) %}
    {% else %}
        {% set title = 'Arquivos de ' ~ person.name|default(person.cpf|format_cpf) %}
    {% endif %}
{% endfor %}

{% block title %}
    {% for translate in translates %}
        {% if translate.translate == 'BRL' %}
            Archives of {{ person.name }}
        {% else %}
            Arquivos de {{ person.name }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}

{% include 'person/_tab-bar.html.twig' with { active_tab: 'person__file__index' } %}

<div class="container m-4">

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        <div class="mdc-list mdc-list--two-line mdc-list--avatar-list">

            {% for file in person.files %}

                <a class="mdc-list-item" href="{{ path('person__file__download', { id: file.id }) }}" target="_blank">
                    <span class="mdc-list-item__graphic material-icons">attach_file</span>
                    <span class="mdc-list-item__text">
                       <span class="mdc-list-item__primary-text">{{ file.name }}</span>
                       <span class="mdc-list-item__secondary-text">Attached on {{ file.uploadTimestamp.format('d/m/Y') }}
                       for {{ file.uploader.name }}
                    </span>
                    </span>
                </a>

            {% endfor %}

            {% if person.files.count == 0 %}
                <p>No files found.</p>
            {% endif %}
        </div>
    {% else %}
        <div class="mdc-list mdc-list--two-line mdc-list--avatar-list">

            {% for file in person.files %}

                <a class="mdc-list-item" href="{{ path('person__file__download', { id: file.id }) }}" target="_blank">
                    <span class="mdc-list-item__graphic material-icons">attach_file</span>
                    <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">{{ file.name }}</span>
            <span class="mdc-list-item__secondary-text">Anexado em {{ file.uploadTimestamp.format('d/m/Y') }}
                por {{ file.uploader.name }}
            </span>
        </span>
                </a>

            {% endfor %}

            {% if person.files.count == 0 %}
                <p>Nenhum arquivo encontrado.</p>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

</div>

{% endblock %}

{% block body_end %}

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        <div class="app-page-end">
            <a class="mdc-fab mdc-fab--extended" href="{{ path('person__file__form', { id: person.id }) }}">
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">Attach file</span>
            </a>
        </div>
    {% else %}
        <div class="app-page-end">
            <a class="mdc-fab mdc-fab--extended" href="{{ path('person__file__form', { id: person.id }) }}">
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">Anexar Arquivo</span>
            </a>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}