{% extends 'base.html.twig' %}

{% block title %}Entrar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security-login') }}
{% endblock %}

{% block body  %}

    <div class="login-container">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <section class="header">
                <h1 class="mt-0">
                    <img id="logo" src="{{ system_logo }}" alt="AdInvest">
                </h1>
            </section>

            <div class="login-background">

                <div class="form-row">
                    <div class="mdc-text-field mdc-text-field--outlined">
                        <input type="text" class="mdc-text-field__input" value="{{ last_username }}"
                               name="email" id="inputEmail" required autofocus>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label class="mdc-floating-label" for="inputEmail">E-mail</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="mdc-text-field mdc-text-field--outlined">
                        <input type="password" class="mdc-text-field__input" name="password" id="inputPassword" required>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label class="mdc-floating-label" for="inputPassword">Senha</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <div class="form-row button-container">
                    <a class="mdc-button" href="{{ path('password_recovery') }}">
                        <span class="mdc-button__label">
                            Esqueci minha senha
                        </span>
                    </a>
                    {% include '_components/button/button.html.twig' with { type: 'submit', label: 'Entrar' } only %}
                </div>

            </div>

        </form>
    </div>
{% endblock %}
