{% extends 'base.html.twig' %}

{% block title %}AdInvest - Entrar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security-login') }}
{% endblock %}

{% block body  %}

    <div class="login-container">

        <section class="header">
            <h1 class="mt-0">
{#            <img id="logo" src="{{ system_logo }}" alt="AdInvest">#}
            </h1>
        </section>

        <div class="login-background">

            {{ form_start(form) }}

            {{ form_widget(form) }}

            {% for flashMessage in app.session.flashbag.get('error') %}

                <p class="text-danger">{{ flashMessage }}</p>

            {% endfor %}

            <div class="form-row button-container">
                {% include '_components/button/button.html.twig' with { type: 'submit', label: 'Definir Senha' } only %}
            </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
