{% extends 'base.html.twig' %}

{% set title = 'Comprovante de ' ~ withdraw.account.owner.name ~ ' (' ~ withdraw.operationTimestamp|date('d/m/Y') ~ ')' %}
{% set drawer_active_route = 'withdraw__index' %}

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        {% set title = 'Receipt of' ~ withdraw.account.owner.name ~ ' (' ~ withdraw.operationTimestamp|date('d/m/Y') ~ ')' %}
    {% else %}
        {% set title = 'Comprovante de ' ~ withdraw.account.owner.name ~ ' (' ~ withdraw.operationTimestamp|date('d/m/Y') ~ ')' %}
    {% endif %}
{% endfor %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% for translate in translates %}
        {% if translate.translate == 'BRL' %}
            <div class="container m-4">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Send receipt', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>
        {% else %}
            <div class="container m-4">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Enviar Comprovante', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>
        {% endif %}
    {% endfor %}



{% endblock %}