{% extends 'base.html.twig' %}

{% set title = 'Planos' %}
{% set drawer_active_route = 'stakehold_plan__index' %}

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        {% set title = 'Plans' %}
    {% else %}
        {% set title = 'Planos' %}
    {% endif %}
{% endfor %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container m-4" style="float:right;">
        {{ form_start(form) }}
        {{ form_row(form.queryString, {
            attr: {
                autofocus: '',
            }
        }) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    {% for translate in translates %}
        {% if translate.translate == 'BRL' %}
            <div class="my-4 mx-2">
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Internal name</th>
                            <th scope="col">Commercial name</th>
                            <th scope="col" class="text-right">Minimum value</th>
                            <th scope="col" class="text-right">Multiple</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for plan in plans %}
                            <tr>
                                <th scope="row">{{ plan.id }}</th>
                                <td>
                                    <a href="{{ path('stakehold_plan__edit', { id: plan.id }) }}">
                                        {{ plan.administrativeName }}
                                    </a>
                                </td>
                                <td>{{ plan.commercialName }}</td>
                                <td class="text-right">{{ currency }} {{ plan.minimumValue|number_format(2, ',', '.') }}</td>
                                <td class="text-right">{{ currency }} {{ plan.valueMultiple|number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if plans|length == 0 %}
                    <p class="ml-4">No plans registered.</p>
                {% endif %}

            </div>
        {% else %}
            <div class="my-4 mx-2">

                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome Interno</th>
                            <th scope="col">Nome Comercial</th>
                            <th scope="col" class="text-right">Valor Mínimo</th>
                            <th scope="col" class="text-right">Múltiplo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for plan in plans %}
                            <tr>
                                <th scope="row">{{ plan.id }}</th>
                                <td>
                                    <a href="{{ path('stakehold_plan__edit', { id: plan.id }) }}">
                                        {{ plan.administrativeName }}
                                    </a>
                                </td>
                                <td>{{ plan.commercialName }}</td>
                                <td class="text-right">{{ currency }} {{ plan.minimumValue|number_format(2, ',', '.') }}</td>
                                <td class="text-right">{{ currency }} {{ plan.valueMultiple|number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if plans|length == 0 %}
                    <p class="ml-4">Nenhum plano cadastrado.</p>
                {% endif %}

            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block body_end %}

    {% for translate in translates %}
        {% if translate.translate == 'BRL' %}
            <div class="app-page-end">
                <a class="mdc-fab mdc-fab--extended" href="{{ path('stakehold_plan__create') }}">
                    <span class="material-icons mdc-fab__icon">add</span>
                    <span class="mdc-fab__label">Create Plan</span>
                </a>
            </div>
        {% else %}
            <div class="app-page-end">
                <a class="mdc-fab mdc-fab--extended" href="{{ path('stakehold_plan__create') }}">
                    <span class="material-icons mdc-fab__icon">add</span>
                    <span class="mdc-fab__label">Criar Plano</span>
                </a>
            </div>
        {% endif %}
    {% endfor %}


{% endblock %}