{% extends 'base.html.twig' %}

{% set title = 'Contratos' %}
{% set drawer_active_route = 'contract_index' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            {% if multipleOwners %}
                                <th>Contratante</th>
                            {% endif %}
                            <th class="text-right">Valor</th>
                            <th>Plano</th>
                            <th class="text-center">Data de Adesão</th>
                            <th class="text-center">Data de Expiração</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contract in contracts  %}
                            <tr>
                                <td>{{ contract.id }}</td>
                                {% if multipleOwners %}
                                    <td>{{ contract.account.owner.name }}</td>
                                {% endif %}
                                <td class="text-right">R$ {{ contract.value|number_format(2, ',', '.') }}</td>
                                <td>{{ contract.plan.commercialName }}</td>
                                <td class="text-center">{{ contract.executionDate|date('d/m/Y') }}</td>
                                <td class="text-center">{{ contract.expirationDate|date('d/m/Y') }}</td>
                                <td>
                                    {% if contract.digitizedContracts.count > 0 %}
                                        <a href="{{ path('contract__digitized_contract__download', {
                                            id: contract.id
                                        }) }}" target="_blank">Contrato</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if contracts|length == 0 %}
                    <p>Nenhum contrato encontrado</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
