{% extends 'base.html.twig' %}

{% set title = person.name|default(person.cpf|format_cpf) ~ ' - Dados Pessoais' %}
{% set drawer_active_route = 'person__index' %}

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        {% set title = person.name|default(person.cpf|format_cpf) ~ ' - Personal data' %}
    {% else %}
        {% set title = person.name|default(person.cpf|format_cpf) ~ ' - Dados Pessoais' %}
    {% endif %}
{% endfor %}

{% block title %}
    {% for translate in translates %}
        {% if translate.translate == 'BRL' %}
          Personal data of {{ person.name }}
        {% else %}
            Dados pessoais de {{ person.name }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}

    {% include 'person/_tab-bar.html.twig' with { active_tab: 'person__edit' } %}

    {% for translate in translates %}
        {% if translate.translate == 'BRL' %}
            <div class="container m-4">

                {{ form_start(form) }}
                {{ form_row(form.name, {
                    attr: {
                        autofocus: ''
                    }
                }) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Save changes', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>

        {% else %}
            <div class="container m-4">

                {{ form_start(form) }}
                {{ form_row(form.name, {
                    attr: {
                        autofocus: ''
                    }
                }) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Salvar Alterações', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>

        {% endif %}
    {% endfor %}


{% endblock %}