{% extends 'base.html.twig' %}
{% set title = person.name|default(person.cpf|format_cpf) ~ ' - Dados Pessoais' %}

{% block title %}Dados pessoais de {{ person.name }}{% endblock %}

{% block content %}

    {% include '_components/tab-bar/tab-bar.html.twig' with {tabs: [
        {
            label: 'Dados Pessoais',
            path: path('person_show__personal_data', { id: person.id }),
            active: true,
        }, {
            label: 'Endereço',
            path: path('person_show__address', { id: person.id }),
        }, {
            label: 'Configurações',
            path: path('person_show__settings', { id: person.id }),
        }
    ]} %}

    <div class="container m-4">
        <dl class="d-table">
            <div class="d-table-row">
                <dt class="d-table-cell">Nome</dt>
                <dd class="d-table-cell">{{ person.name|default('Não informado') }}</dd>
            </div>
            <div class="d-table-row">
                <dt class="d-table-cell">E-mail</dt>
                <dd class="d-table-cell">{{ person.email|default('Não informado') }}</dd>
            </div>
            <div class="d-table-row">
                <dt class="d-table-cell">Telefone</dt>
                <dd class="d-table-cell">{{ person.phones|length > 0 ? person.phones[0].number : 'Não informado' }}</dd>
            </div>
            <div class="d-table-row">
                <dt class="d-table-cell">CPF</dt>
                <dd class="d-table-cell">{{ person.cpf|default('Não informado')|format_cpf }}</dd>
            </div>
            <div class="d-table-row">
                <dt class="d-table-cell">RG</dt>
                <dd class="d-table-cell">{{ person.rg|default('Não informado') }}</dd>
            </div>
        </dl>
    </div>

{% endblock %}