{% extends 'base.html.twig' %}

{% set title = company.name %}
{% set drawer_active_route = 'company__index' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% include 'company/_tab-bar.html.twig' with { active_tab: 'company__edit' } %}

    {% for translate in translates %}
        {% if translate.translate == 'BRL' %}
            <div class="container m-4">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Save changes', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="container m-4">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Salvar Alterações', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% endif %}
    {% endfor %}


{% endblock %}

