{% extends 'base.html.twig' %}

{% set title = 'Cadastrar Empresa' %}
{% set drawer_active_route = 'company__index' %}

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        {% set title = 'Register Company' %}
    {% else %}
        {% set title = 'Cadastrar Empresa' %}
    {% endif %}
{% endfor %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        <div class="container m-4">
            <p>Enter the data of the company to be registered in the system.</p>
            {{ form_start(form) }}
            {{ form_row(form.name, {
                attr: {
                    autofocus: ''
                }
            }) }}
            {{ form_widget(form) }}
            <div class="form-row button-container">
                {% include '_components/button/button.html.twig' with { label: 'Register Company', type: 'submit', style: 'outlined'} only %}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    {% else %}
        <div class="container m-4">
            <p>Informe os dados da empresa a ser cadastrada no sistema.</p>
            {{ form_start(form) }}
            {{ form_row(form.name, {
                attr: {
                    autofocus: ''
                }
            }) }}
            {{ form_widget(form) }}
            <div class="form-row button-container">
                {% include '_components/button/button.html.twig' with { label: 'Cadastrar Empresa', type: 'submit', style: 'outlined'} only %}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endfor %}

{% endblock %}

