{% extends 'base.html.twig' %}

{% set title = 'Conta Bancária de ' ~ person.name %}
{% set drawer_active_route = 'person__index' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% include 'person/_tab-bar.html.twig' with { active_tab: 'person__bank_account__edit' } %}

    <div class="container m-4">

        {% if person.account is null %}
            <p>A conta bancária ainda não foi cadastrada.</p>
        {% endif %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-row button-container">
            {% include '_components/button/button.html.twig' with { label: 'Salvar Alterações', type: 'submit', style: 'outlined'} only %}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

