{% set active = drawer_active_route|default('withdraw__index') %}

{% set items = navigation.drawerLinks %}

<aside class="mdc-drawer mdc-drawer--dismissible">
    <div class="mdc-drawer__header">
        <div class="mdc-drawer__header__content">
            <h3 class="mdc-drawer__title">
                <img id="logo" src="{{ system_logo }}" alt="AdInvest">
            </h3>
            {% if profileSwitcher.multipleProfiles %}
                <button class="account-switcher">
                    {{ profileSwitcher.currentProfile.label }}
                    <i class="material-icons account-switcher--icon">arrow_drop_down</i>
                </button>
            {% endif %}
        </div>
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-list">

            {% for item in items %}
                <a class="mdc-list-item {% if item.route == active %}mdc-list-item--activated{% endif %}" href="{{ path(item.route) }}">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ item.icon }}</i>
                    <span class="mdc-list-item__text">{{ item.label }}</span>
                </a>
            {% endfor %}

        </div>
    </div>
</aside>