{% extends 'base.html.twig' %}

{% set title = 'Novo Contrato com ' ~ account.owner.name %}
{% set drawer_active_route = 'person__index' %}

{% for translate in translates %}
    {% if translate.translate == 'BRL' %}
        {% set title = 'New contract with ' ~ account.owner.name %}
    {% else %}
        {% set title = 'Novo Contrato com ' ~ account.owner.name %}
    {% endif %}
{% endfor %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% for translate in translates %}
        {% if translate.translate == 'BRL' %}
            <div class="container m-4">
                <p>Enter contract details.</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Register contact', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="container m-4">
                <p>Informe os dados do novo contrato.</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-row button-container">
                    {% include '_components/button/button.html.twig' with { label: 'Registrar Contrato', type: 'submit', style: 'outlined'} only %}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

