{% extends 'base.html.twig' %}

{% set title = 'Dashboard' %}
{% set drawer_active_route = 'dashboard' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/dashboard.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/dashboard.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">

            <div class="mdc-layout-grid__cell--span-12">
                <div class="mdc-layout-grid__inner">

                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-desktop">
                        <div class="mdc-card dashboard-card dashboard-card--dark">
                            <div class="dashboard-card--heading">
                                <h2 class="dashboard-card__heading-text mdc-typography--subtitle2">Valor Total de Patrocínio</h2>
                            </div>
                            <div class="dashboard-card--body">
                                <span class="mdc-typography--headline5">R$ {{ dashboardHelper.totalInvestment|number_format(2, ',', '.') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-desktop">
                        <div class="mdc-card dashboard-card dashboard-card--dark">
                            <div class="dashboard-card--heading">
                                <h2 class="dashboard-card__heading-text mdc-typography--subtitle2">Rendimentos Acumulados</h2>
                            </div>
                            <div class="dashboard-card--body">
                                <span class="mdc-typography--headline5">R$ {{ dashboardHelper.totalCoParticipation|number_format(2, ',', '.') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-desktop">
                        <div class="mdc-card dashboard-card">
                            <div class="dashboard-card--heading">
                                <h2 class="dashboard-card__heading-text mdc-typography--subtitle2">Retorno</h2>
                            </div>
                            <div class="dashboard-card--body">
                                <span class="mdc-typography--headline5">{{ dashboardHelper.returnRate|number_format(2, ',', '.') }}%</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mdc-layout-grid__cell--span-12"><div class="mdc-layout-grid__inner">

                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                        <div class="mdc-layout-grid__inner">

                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                <div class="mdc-card dashboard-card">
                                    <div class="dashboard-card--heading dashboard-card--dark">
                                        <h2 class="dashboard-card__heading-text mdc-typography--subtitle2">Rendimentos Totais Acumulados</h2>
                                    </div>
                                    <div class="dashboard-card--body">
                                        <div id="dashboard-chart__total-return-by-month"
                                             class="dashboard-chart"
                                             data-x-column-type="date"
                                             data-x-column-label="Período"
                                             data-x-column-format="short"
                                             data-y-column-type="number"
                                             data-y-column-label="Rendimentos"
                                             data-y-column-format="dd MMM, yyyy"
                                             data-set-path="{{ path('dashboard_chart__total_return_by_date') }}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                <div class="mdc-card dashboard-card">
                                    <div class="dashboard-card--heading dashboard-card--dark">
                                        <h2 class="dashboard-card__heading-text mdc-typography--subtitle2">Rendimentos por Data</h2>
                                    </div>
                                    <div class="dashboard-card--body">
                                        <div id="dashboard-chart__total-return-by-month"
                                             class="dashboard-chart"
                                             data-x-column-type="date"
                                             data-x-column-label="Período"
                                             data-x-column-format="short"
                                             data-y-column-type="number"
                                             data-y-column-label="Rendimentos"
                                             data-y-column-format="dd MMM, yyyy"
                                             data-set-path="{{ path('dashboard_chart__return_by_date') }}"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4  mdc-layout-grid__cell--span-8-tablet">
                        <div class="mdc-layout-grid__inner">

                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">
                                <div class="mdc-card dashboard-card dashboard-card--dark">
                                    <div class="dashboard-card--heading">
                                        <h2 class="dashboard-card__heading-text mdc-typography--subtitle2">Valor estimado do próximo rendimento</h2>
                                    </div>
                                    <div class="dashboard-card--body">
                                        <span class="mdc-typography--headline5">{{ dashboardHelper.nextPayment is not null ? dashboardHelper.nextPayment['value']|number_format(2, ',',' .') : 'Sem informação'}}</span>
                                    </div>
                                    <div class="dashboard-card__footer">
                                        <span class="material-icons">today</span>
                                        <span class="dashboard-card__footer-text">{{ dashboardHelper.nextPayment is not null ? dashboardHelper.nextPayment['dueDate']|date('d/m/Y') : '--'}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">
                                <div class="mdc-card dashboard-card">
                                    <div class="dashboard-card--heading dashboard-card--dark">
                                        <h2 class="dashboard-card__heading-text mdc-typography--subtitle2">Últimos Rendimentos</h2>
                                    </div>
                                    <div class="dashboard-card--body">
                                        <div class="table-responsive">
                                            <table class="table m-0">
                                                <thead>
                                                <tr>
                                                    <th>Valor</th>
                                                    <th>Data</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for payment in dashboardHelper.lastPayments %}
                                                        <tr>
                                                            <td class="text-success">+ R$ {{ payment.value|number_format(2, ',', '.') }}</td>
                                                            <td>{{ payment.executionTimestamp|date('d/m/Y') }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                            {% if dashboardHelper.lastPayments|length == 0 %}
                                                <p class="mb-0">Nenhum rendimento encontrado.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="mdc-card__actions">
                                        <a class="mdc-button mdc-card__action mdc-card__action--button"
                                           href="{{ path('payment__index') }}"
                                        >
                                            <span class="mdc-button__label">Ver Todos</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

{% endblock %}
