{% extends 'base.html.twig' %}
{% set title = 'Rendimentos' %}
{% set drawer_active_route = 'payment__index' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container m-4" style="float:right;">
        {{ form_start(form) }}
        {{ form_row(form.queryString, {
            attr: {
                autofocus: '',
            }
        }) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    <div class="my-4 mx-2">
        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-right">Valor</th>
                    <th class="col">Proveniência</th>
                    <th class="col">Nota Fiscal</th>
                    <th scope="col">Beneficiário</th>
                    <th scope="col">Data de Realização</th>
                    <th scope="col">Data de Divulgação</th>
                    <th scope="col">Contrato</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>
                            {% if payment.status == constant('STATUS_WAITING_INVOICE', payment) %}
                                <a href="{{ path('payment__invoice', { id: payment.id }) }}">
                                    {{ payment.status|trans }}
                                </a>
                            {% elseif payment.status == constant('STATUS_WAITING_INVOICE_APPROVAL', payment) %}
                                <a href="{{ path('payment__invoice__review', { id: payment.id }) }}">
                                    {{ payment.status|trans }}
                                </a>
                            {% else %}
                                {{ payment.status|trans }}
                            {% endif %}
                        </td>
                        <td class="text-right">R$ {{ payment.value|number_format(2, ',', '.') }}</td>
                        <td>{{ payment.provenance|trans }}</td>
                        <td>
                            {% if payment.hasInvoice %}
                                <a href="{{ payment.invoice.url }}" target="_blank">
                                    Nota Fiscal
                                    <span class="material-icons icon-small align-supper">open_in_new</span></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if profileSwitcher.accessingAsAdministrator %}
                                <a href="{{ path('person_show', { id: payment.beneficiary.owner.id }) }}">
                                    {{ payment.beneficiary.owner.name}}
                                </a>
                            {% else %}
                                {{ payment.beneficiary.owner.name }}
                            {% endif %}
                        </td>
                        <td>{{ payment.reward.paymentDueDate.format('d/m/Y') }}</td>
                        <td>{{ payment.reward.disclosureDate.format('d/m/Y') }}</td>
                        <td>
                            <a {% if showContracts %} href={{ path('contract__edit', { id: payment.contract.id }) }} {% endif %}>
                                Contrato no valor de R${{ payment.contract.value|number_format(2, ',', '.') }}
                                no {{ payment.contract.plan.administrativeName }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if payments|length == 0 %}
            <p>Nenhum rendimento encontrado</p>
        {% endif %}

    </div>
{% endblock %}
