{% extends 'base.html.twig' %}

{% set title = 'Configuração' %}
{% set drawer_active_route = 'configuration' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="container m-4">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-row button-container">
            {% include '_components/button/button.html.twig' with { label: 'Salvar', type: 'submit', style: 'outlined'} only %}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>

{% endblock %}
